@model ClassSchedule.Web.Models.GroupInfo.GroupInfoViewModel
@{
    ViewBag.Title = "Информация о группе";
}

@Html.Partial("_NavbarLight")

<div class="schedule-container">
    <div class="week-panel text-center"></div>

    <div class="container">
        <h2>Информация о группе</h2>


        <div class="row block">
            <div class="col-md-4">
                <div class="title">Основная информация</div>
            </div>
            <div class="col-md-8">
                <dl class="dl-horizontal">
                    <dt>Группа</dt>
                    <dd>@Model.GroupName</dd>
                    <dt>Количество студентов в группе</dt>
                    <dd><span><i class="fa fa-male"></i> @Model.NumberOfStudents</span></dd>
                    <dt>Направление</dt>
                    <dd>@Model.Profile</dd>
                    <dt>Форма обучения</dt>
                    <dd>@Model.EducationForm</dd>
                    <dt>Уровень образования</dt>
                    <dd>@Model.EducationLevel</dd>

                </dl>
            </div>
        </div>
        <div class="row block">
            <div class="col-md-4">
                <div class="title mrgbtm12">График учебного процесса</div>
            </div>
            <div class="col-md-8">
                <table class="table table-condensed">
                    <thead>
                        <tr>
                            <th class="block-title small"></th>
                            @foreach (var semester in Model.SemesterSchedules)
                            {
                                <th class="table-header">
                                    @semester.SemesterNumber семестр <br />
                                <span class="sub-header">@semester.SemesterStartDate.ToString("dd.MM.yyyy")г. - @semester.SemesterEndDate.ToString("dd.MM.yyyy")г.</span>
                            </th>
                            }
                        </tr>
                    </thead>
                    <tbody>

                         @if (Model.SemesterSchedules.Any(x => x.TheoreticalTrainingWeeks != 0))
                         {
                            <tr>
                                <td class="small">
                                    <pre class="legend" style="background: #7cb5ec"></pre>
                                    Теоретическое обучение
                                </td>
                                @foreach (var semester in Model.SemesterSchedules)
                                {
                                    <td>@semester.TheoreticalTrainingWeeks нед.</td>
                                }
                            </tr>
                         }

                        @if (Model.SemesterSchedules.Any(x => x.ExamSessionWeeks != 0))
                        {
                            <tr>
                                <td class="small">
                                    <pre class="legend" style="background: #7798BF"></pre>
                                    Экзаменационные сессии
                                </td>
                                @foreach (var semester in Model.SemesterSchedules)
                                {
                                    <td>@semester.ExamSessionWeeks нед.</td>
                                }
                            </tr>
                        }

                        @if (Model.SemesterSchedules.Any(x => x.WeeksOfHolidays != 0))
                        {
                            <tr>
                                <td class="small">
                                    <pre class="legend" style="background: #f7a35c"></pre>
                                    Каникулы
                                </td>
                                @foreach (var semester in Model.SemesterSchedules)
                                {
                                    <td>@semester.WeeksOfHolidays нед.</td>
                                }
                            </tr>
                        }

                        @if (Model.SemesterSchedules.Any(x => x.ResearchWorkWeeks != 0))
                        {
                            <tr>
                                <td class="small">
                                    <pre class="legend" style="background: #DDDF00"></pre>
                                    Научно-исследовательская работа
                                </td>
                                @foreach (var semester in Model.SemesterSchedules)
                                {
                                    <td>@semester.ResearchWorkWeeks нед.</td>
                                }
                            </tr>
                        }

                        @if (Model.SemesterSchedules.Any(x => x.StudyTrainingWeeks != 0))
                        {
                            <tr>
                                <td class="small">
                                    <pre class="legend" style="background: #90ee7e"></pre>
                                    Учебные практики
                                </td>
                                @foreach (var semester in Model.SemesterSchedules)
                                {
                                    <td>@semester.StudyTrainingWeeks нед.</td>
                                }
                            </tr>
                        }

                        @if (Model.SemesterSchedules.Any(x => x.PracticalTrainingWeeks != 0))
                        {
                            <tr>
                                <td class="small">
                                    <pre class="legend" style="background: #eeaaee"></pre>
                                    Производственные практики
                                </td>
                                @foreach (var semester in Model.SemesterSchedules)
                                {
                                    <td>@semester.PracticalTrainingWeeks нед.</td>
                                }
                            </tr>
                        }

                        @if (Model.SemesterSchedules.Any(x => x.FinalQualifyingWorkWeeks != 0))
                        {
                            <tr>
                                <td class="small">
                                    <pre class="legend" style="background: #FF9655"></pre>
                                    Выпускная квалификационная работа
                                </td>
                                @foreach (var semester in Model.SemesterSchedules)
                                {
                                    <td>@semester.FinalQualifyingWorkWeeks нед.</td>
                                }
                            </tr>
                        }

                        @if (Model.SemesterSchedules.Any(x => x.StateExamsWeeks != 0))
                        {
                            <tr>
                                <td class="small">
                                    <pre class="legend" style="background: #FFF263"></pre>
                                    Гос. Экзамены и/или защита ВКР
                                </td>
                                @foreach (var semester in Model.SemesterSchedules)
                                {
                                    <td>@semester.StateExamsWeeks нед.</td>
                                }
                            </tr>
                        }
                        
                    </tbody>
                </table>
            </div>
            <div class="col-md-12">
                <div id="chart" style="width: 100%; height: 150px;"></div>
            </div>
        </div>

        <div class="row block">
            <div class="col-md-12">
                <table class="table disciplines">
                    <thead>
                        <tr>
                            <th class="block-title" rowspan="2">Дисциплины</th>
                            @for (int semester = 1; semester <= Model.NumberOfSemesters; semester++)
                            {
                                <th class="table-header" colspan="3">@semester семестр</th>
                            }
                        </tr>
                        <tr>
                            @for (int semester = 1; semester <= Model.NumberOfSemesters; semester++)
                            {
                                <th class="table-header br-left">Лек.</th>
                                <th class="table-header">Пр.</th>
                                <th class="table-header">Лаб.</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var discipline in Model.Disciplines)
                        {
                            bool showDiscipline = discipline.DisciplineSemesterPlans.Any(x => x.HoursOfLectures != 0 || x.HoursOfPractice != 0 || x.HoursOfLaboratory != 0);
                            if (showDiscipline)
                            {
                                <tr>
                                    <td><span class="name">@discipline.DisciplineName</span> <br/> <span class="chair">Кафедра @discipline.ChairName</span></td>
                                    @for (int semester = 1; semester <= Model.NumberOfSemesters; semester++)
                                    {
                                        var semesterPlan = discipline.DisciplineSemesterPlans.SingleOrDefault(x => x.SemesterNumber == semester);
                                        if (semesterPlan != null)
                                        {
                                            <td class="br-left">
                                                @if (semesterPlan.HoursOfLectures.HasValue && semesterPlan.HoursOfLectures != 0)
                                                {
                                                    <span class="filled">@semesterPlan.HoursOfLecturesFilled/</span><span class="plan">@semesterPlan.HoursOfLectures</span>
                                                    <br />
                                                    <span class="recommended">рек. @semesterPlan.LecturesPerWeek/нед.</span>
                                                }
                                                else
                                                {
                                                    <span>-</span>
                                                }
                                            </td>
                                            <td>
                                                @if (semesterPlan.HoursOfPractice.HasValue && semesterPlan.HoursOfPractice != 0)
                                                {
                                                    <span class="filled">@semesterPlan.HoursOfPracticeFilled/</span><span class="plan">@semesterPlan.HoursOfPractice</span>
                                                    <br />
                                                    <span class="recommended">рек. @semesterPlan.PracticePerWeek/нед.</span>
                                                }
                                                else
                                                {
                                                    <span>-</span>
                                                }

                                            </td>
                                            <td>
                                                @if (semesterPlan.HoursOfLaboratory.HasValue && semesterPlan.HoursOfLaboratory != 0)
                                                {
                                                    <span class="filled">@semesterPlan.HoursOfLaboratoryFilled/</span><span class="plan">@semesterPlan.HoursOfLaboratory</span>
                                                    <br />
                                                    <span class="recommended">рек. @semesterPlan.LaboratoryPerWeek/ нед.</span>
                                                }
                                                else
                                                {
                                                    <span>-</span>
                                                }
                                            </td>
                                        }
                                        else
                                        {
                                            <td class="br-left">-</td>
                                            <td>-</td>
                                            <td>-</td>
                                        }
                                    }
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/underscore")
    @Scripts.Render("~/bundles/highcharts")
    <script>
        $(function() {
            $.post('/AcademicPlan/ChartData', { groupId: @Model.GroupId }, function(data) {

                Highcharts.setOptions({
                    lang: {
                        months: ['Январь', 'Февраль', 'Март', 'Апрель', 'Май', 'Июнь', 'Июль', 'Август', 'Сентябрь', 'Октябрь', 'Ноябрь', 'Декабрь'],
                        weekdays: ['Понедельник', 'Вторник', 'Среда', 'Четверг', 'Пятница', 'Суббота', 'Воскресенье'],
                        shortMonths: ["Янв.", "Фев.", "Мар.", "Апр.", "Май", "Июн.", "Июл.", "Авг.", "Сен.", "Окт.", "Ноя.", "Дек."]
                    }
                });

                $('#chart').highcharts({
                    credits: {
                        enabled: false
                    },
                    chart: {
                        type: 'columnrange',
                        inverted: true
                    },
                    title: {
                        text: ''
                    },
                    scrollbar: {
                        enabled: true
                    },
                    xAxis: {
                        categories: [''] 
                    },
                    yAxis: {
                        type: 'datetime',
                        title: {
                            text: data.educationYear + ' учебный год'
                        },
                        tickInterval: 2678400000, // каждый месяц
                        labels: {
                            formatter: function() {
                                var d = new Date(this.value);
                                if (d.getUTCMonth() == 0) {
                                    return Highcharts.dateFormat("%B [%Yг.]", this.value);
                                } else {
                                    return Highcharts.dateFormat("%B", this.value);
                                }
                            }
                        }
                    },
                    plotOptions: {
                        columnrange: {
                            grouping: false,
                            //dataLabels: {
                            //    enabled: true,
                            //    inside: true,
                            //    useHTML: true,
                            //    formatter: function () {
                            //        return this.series.name[0];           
                            //    }
                            //}
                        }
                    },
                    legend: {
                        enabled: false
                    },
                    tooltip: {
                        formatter: function() {
                            return '<b>' + this.series.name + '</b><br/>' + 'c ' + Highcharts.dateFormat('%e.%m.%Yг.', this.point.low) +
                                ' по ' + Highcharts.dateFormat('%e.%m.%Yг.', this.point.high) + '<br/>' +
                                this.point.lowWeek + ' нед.' + (this.point.lowWeek !== this.point.highWeek ? ' - ' + this.point.highWeek + ' нед.' : '');
                        }
                    },

                    series: data.chartSeries
                });

            });
        });
    </script>
}
