<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
        <a class="navbar-brand filter" href="@Url.Action("Index", "Home")"></a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="@Url.Action("Index")">
                    <i class="fa fa-arrow-circle-left fa-32px"></i><br>
                    <span class="nav-icon-text">К расписанию</span>
                </a>
            </li>
        </ul>
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new {id = "logoutForm", @class = "navbar-right"}))
            {
                @Html.AntiForgeryToken()

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user fa-32px"></i><br>
                            <span class="nav-icon-text"></span>Здравствуйте, @(ViewBag.UserName + "!") <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="fa fa-power-off"></span> Выйти</a></li>
                        </ul>
                    </li>
                </ul>
            }
        }
    </div>
</div>

<div class="schedule-container">
    <div class="container">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div id="selectFaculty">
                <h2>Загрузка учебных планов</h2>
                <hr />

                <div class="row">
                    <div id="facultyGroup" class="col-md-7 form-group">
                        @*@Html.LabelFor(model => model.FacultyId, new { @class = "control-label" })
                        @Html.DropDownListFor(model => model.FacultyId, (SelectList)ViewBag.Faculties, String.Empty, new { @class = "form-control", @id = "facultyId" })
                        @Html.ValidationMessageFor(model => model.FacultyId)*@
                        <p id="facultyError" class="help-block red" style="display: none;"> <span class="glyphicon glyphicon glyphicon-exclamation-sign form-control-feedback"></span> Выберите факультет из списка</p>
                    </div>
                </div>

            </div>
        }
    </div>
</div>

@section Scripts
{
}

