@using System.Globalization
@using ClassSchedule.Web.Helpers
@{
    ViewBag.Title = "Расписание занятий";

    string[] groups = new[] { "ПИ0904", "ПИ0905", "ИТ0904" };

    int numberOfDays = 6;
    int numberOfLessons = 6;
    int numberOfGroups = groups.Length;

    int totalWidthOfColumns = 100;
    int widthOfInfoColumn = 3;
    string widthOfGroupColumn = Math.Round((totalWidthOfColumns - widthOfInfoColumn * 2f) / numberOfGroups, 2).ToString(CultureInfo.GetCultureInfo("en-US"));
}

<div class="schedule-container">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
            <a class="navbar-brand filter" href="@Url.Action("Index", "Home")"></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#">
                        <i class="fa fa-users fa-32px"></i><br>
                        <span class="nav-icon-text">Выбрать поток</span>
                    </a>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-print fa-32px"></i><br>
                        <span class="nav-icon-text"></span>Печать расписания<span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Index", "Home")"> Печать расписания потока</a></li>
                        <li><a href="@Url.Action("Index", "Home")"> Печать расписания кафедры</a></li>
                    </ul>
                </li>

                <li class="navbar-divider"></li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-university fa-32px"></i><br>
                        <span class="nav-icon-text"></span>Аудитории <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Index", "Home")"> Просмотр расписания аудитории</a></li>
                        <li><a href="@Url.Action("Index", "Home")"> Поиск свободных аудиторий</a></li>
                    </ul>
                </li>

                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-graduation-cap fa-32px"></i><br>
                        <span class="nav-icon-text"></span>Преподаватели <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="@Url.Action("Index", "Home")"> Просмотр расписания преподавателя</a></li>
                    </ul>
                </li>

                <li class="navbar-divider"></li>

                <li>
                    <a href="#">
                        <i class="fa fa-cloud-upload fa-32px"></i><br>
                        <span class="nav-icon-text">Обновить на сайте</span>
                    </a>
                </li>
            </ul>
            @if (Request.IsAuthenticated)
            {
                using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                {
                    @Html.AntiForgeryToken()

                    <ul class="nav navbar-nav navbar-right">
                        @*<li>
                                <span class="navbar-text"><span>Здравствуйте,</span> <span class="glyphicon glyphicon-user"></span> <span>@(ViewBag.UserName + "!")</span></span>
                            </li>*@

                        @*<li><a href="javascript:document.getElementById('logoutForm').submit()">Выйти</a></li>*@
                        @*<li>
                                <a href="#">
                                    <i class="fa fa-user fa-32px"></i><br>
                                    <span class="nav-icon-text">Здравствуйте, @(ViewBag.UserName + "!")</span>
                                </a>
                            </li>
                            <li>
                                <a href="javascript:document.getElementById('logoutForm').submit()">
                                    <i class="fa fa-power-off fa-32px"></i><br>
                                    <span class="nav-icon-text">Выйти</span>
                                </a>
                            </li>*@

                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                <i class="fa fa-user fa-32px"></i><br>
                                <span class="nav-icon-text"></span>Здравствуйте, @(ViewBag.UserName + "!") <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="fa fa-power-off"></span> Выйти</a></li>
                            </ul>
                        </li>
                    </ul>
                }
            }
        </div>
    </div>

    <div class="week-panel text-center">
        Первая [16] неделя (21.03 - 26.03)
    </div>

    <div class="group-panel">
        <div class="bordered-rb text-center" style="width: 3%; float: left">День</div>
        <div class="bordered-rb text-center" style="width: 3%; float: left">Пара</div>
        @foreach (var group in groups)
        {
            <div class="bordered-rb text-center" style="width: @widthOfGroupColumn%; float:left">
                @group
            </div>
        }
    </div>

    <div class="days-panel" style="width: 3%; float: left">
        <div class="bordered-rb text-center" style="height: 300px;">
            <span>Пн <br><small>21.03</small></span>
        </div>
        <div class="day-separator"></div>
        <div class="bordered-rb text-center" style="height: 300px;">
            <span>Вт <br><small>22.03</small></span>
        </div>
        <div class="day-separator"></div>
        <div class="bordered-rb text-center" style="height: 300px;">
            <span>Ср <br><small>23.03</small></span>
        </div>
        <div class="day-separator"></div>
        <div class="bordered-rb text-center" style="height: 300px;">
            <span>Чт <br><small>24.03</small></span>
        </div>
        <div class="day-separator"></div>
        <div class="bordered-rb text-center" style="height: 300px;">
            <span>Пт <br><small>25.03</small></span>
        </div>
        <div class="day-separator"></div>
        <div class="bordered-rb text-center" style="height: 300px;">
            <span>Сб <br><small>26.03</small></span>
        </div>
    </div>

    <div class="lessons-number-panel" style="width: 3%; float: left">
        @for (int i = 0; i < numberOfDays; i++)
        {
            for (int j = 0; j < numberOfLessons; j++)
            {
                <div class="bordered-rb text-center" style="height: 50px;">
                    <span>@(j + 1)</span> <br> <p>@Helpers.TimeOfLesson(i, j)</p>
                </div>
            }

            <div class="day-separator"></div>
        }
    </div>

    @for (int i = 0; i < numberOfGroups; i++)
    {
        <div style="width: @widthOfGroupColumn%; float: left">
            @for (int j = 0; j < numberOfDays; j++)
            {
                <div class="bordered-rb lesson-cell" style="height: 50px"></div>
                <div class="bordered-rb lesson-cell" style="height: 50px">
                    @*<div class="actions">
                            <a href="#">
                                <i class="fa fa-pencil text-success"></i><span> Редактировать</span>
                            </a>
                            <br/>
                            <a href="#">
                                <i class="fa fa-trash text-danger"></i><span> Удалить</span>
                            </a>
                        </div>*@
                </div>
                <div class="bordered-rb lesson-cell" style="height: 50px">
                    <div class="lesson-cell-part">
                        <span class="discipline red">Автоматизация систем управления sffgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgfd</span> - <span class="teacher">Потешин И.И.</span><span class="auditorium">(220гл.)</span>,
                        <span class="teacher">Гормыко Д.В.</span><span class="auditorium">(014зоо.)</span><br/>
                    </div>
                    <div class="lesson-cell-part">
                        <span class="discipline">Автоматизация систем управления</span> - <span class="teacher">Потешин И.И.</span><span class="auditorium">(220гл.)</span>,
                        <span class="teacher">Гормыко Д.В.</span><span class="auditorium">(014зоо.)</span><br/>
                    </div>
                </div>
                <div class="bordered-rb lesson-cell" style="height: 50px"></div>
                <div class="bordered-rb lesson-cell" style="height: 50px"></div>
                <div class="bordered-rb lesson-cell" style="height: 50px"></div>
                <div class="day-separator"></div>
            }
        </div>
    }
</div>
