@using System.Globalization
@using ClassSchedule.Web.Helpers
@using ClassSchedule.Web.Models.Schedule
@model ClassSchedule.Web.Models.Schedule.ScheduleViewModel
@{
    ViewBag.Title = "Расписание занятий";

    // string[] groups = new[] { "ПИ0904", "ПИ0905", "ИТ0904" }; //, "ИТ0905", "УФ0904", "УФ0905"

    int numberOfDays = 6;
    int numberOfLessons = 6;
    int numberOfGroups = Model.GroupLessons.Count;

    int totalWidthOfColumns = 100;
    int widthOfInfoColumn = 3;
    string widthOfGroupColumn = Math.Round((totalWidthOfColumns - widthOfInfoColumn * 2f) / numberOfGroups, 2).ToString(CultureInfo.GetCultureInfo("en-US"));
}

<div class="schedule-container">
    @Html.Partial("_Navbar")

    <div class="week-panel text-center" data-week="@Model.WeekNumber">
        @(Model.WeekNumber%2 == 0 ? "Вторая" : "Первая") [@Model.WeekNumber] неделя (@Model.FirstDayOfWeek.ToString("dd.MM") - @Model.LastDayOfWeek.ToString("dd.MM"))
    </div>

    <div class="group-panel">
        <div class="bordered-rb text-center" style="width: 3%; float: left">День</div>
        <div class="bordered-rb text-center" style="width: 3%; float: left">Пара</div>
        @foreach (var group in Model.GroupLessons)
        {
            <div class="bordered-rb text-center" data-group-id="@group.GroupId" style="width: @widthOfGroupColumn%; float: left">
                @group.GroupName
            </div>
        }
    </div>

    <div class="days-panel" style="width: 3%; float: left">
        @for (int i = 0; i < 6; i++)
        {
            <div class="bordered-rb text-center" style="height: 300px;">
                <span>@ScheduleHelpers.DayOfWeek(i) <br><small>@Model.FirstDayOfWeek.AddDays(i).ToString("dd.MM")</small></span>
            </div>
            <div class="day-separator"></div>
        }
    </div>

    <div class="lessons-number-panel" style="width: 3%; float: left">
        @for (int i = 0; i < numberOfDays; i++)
        {
            for (int j = 0; j < numberOfLessons; j++)
            {
                <div class="bordered-rb text-center" style="height: 50px;">
                    <span>@(j + 1)</span> <br>
                    <p>@ScheduleHelpers.TimeOfLesson(i, j)</p>
                </div>
            }

            <div class="day-separator"></div>
        }
    </div>

    @foreach (var group in Model.GroupLessons)
    {
        <div style="width: @widthOfGroupColumn%; float: left">
            @for (int dayNumber = 1; dayNumber < numberOfDays + 1; dayNumber++)
            {
                for (int classNumber = 1; classNumber < 7; classNumber++)
                {
                    <div class="bordered-rb lesson-cell" data-group="@group.GroupId" data-day="@dayNumber" data-class-number="@classNumber"
                         data-class-date="@Model.FirstDayOfWeek.AddDays(dayNumber - 1).ToString("dd.MM.yyyy")" data-toggle="modal" data-target="#edit-lesson">

                        @foreach(LessonViewModel lessonPart in @Model.GroupLessons)

                        <div class="lesson-cell-part">
                            <span class="discipline red">Автоматизация систем управления sffgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgfd</span> - <span class="teacher">Потешин И.И.</span><span class="auditorium">(220гл.)</span>,
                            <span class="teacher">Гормыко Д.В.</span><span class="auditorium">(014зоо.)</span><br/>
                        </div>
                        <div class="lesson-cell-part">
                            <span class="discipline">Автоматизация систем управления</span> - <span class="teacher">Потешин И.И.</span><span class="auditorium">(220гл.)</span>,
                            <span class="teacher">Гормыко Д.В.</span><span class="auditorium">(014зоо.)</span><br/>
                        </div>

                    </div>
                }

                <div class="day-separator"></div>
            }
        </div>
    }
</div>

@*<div class="bordered-rb lesson-cell" style="height: 50px">
    <div class="actions">
            <a href="#">
                <i class="fa fa-pencil text-success"></i><span> Редактировать</span>
            </a>
            <br/>
            <a href="#">
                <i class="fa fa-trash text-danger"></i><span> Удалить</span>
            </a>
        </div>
</div>
<div class="bordered-rb lesson-cell" style="height: 50px">
    <div class="lesson-cell-part">
            <span class="discipline red">Автоматизация систем управления sffgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgdfgfd</span> - <span class="teacher">Потешин И.И.</span><span class="auditorium">(220гл.)</span>,
            <span class="teacher">Гормыко Д.В.</span><span class="auditorium">(014зоо.)</span><br/>
        </div>
        <div class="lesson-cell-part">
            <span class="discipline">Автоматизация систем управления</span> - <span class="teacher">Потешин И.И.</span><span class="auditorium">(220гл.)</span>,
            <span class="teacher">Гормыко Д.В.</span><span class="auditorium">(014зоо.)</span><br/>
        </div>
</div>*@

@Html.Partial("_EditLesson")

@section Scripts {
    @Scripts.Render("~/bundles/underscore")
    @Scripts.Render("~/bundles/knockout")
    @Scripts.Render("~/bundles/typeahead")
    @Scripts.Render("~/bundles/lesson")
}
