@using System.Globalization
@{
    ViewBag.Title = "Расписание занятий";

    string[] groups = new[] { "ПИ0904", "ПИ0905", "ИТ0904" };
    
    int numberOfDays = 6;
    int numberOfLessons = 6;
    int numberOfGroups = groups.Length;
    
    int totalWidthOfColumns  = 100;
    int widthOfInfoColumn  = 3;
    string widthOfGroupColumn = Math.Round((totalWidthOfColumns - widthOfInfoColumn * 2f) / numberOfGroups, 2).ToString(CultureInfo.GetCultureInfo("en-US"));
}

<div class="schedule-container">
    <div class="navbar navbar-inverse navbar-fixed-top">    
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand filter" href="@Url.Action("Index", "Home")"></a>
            @*@Html.ActionLink("Имя приложения", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Домашняя страница", "Index", "Home")</li>
                <li>@Html.ActionLink("О программе", "About", "Home")</li>
                <li>@Html.ActionLink("Контакт", "Contact", "Home")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>

    <div class="week-panel text-center">
        Первая неделя
    </div>

    <div class="group-panel">
        <div class="bordered-rb text-center" style="width: 3%; float: left">День</div>
        <div class="bordered-rb text-center" style="width: 3%; float: left">Пара</div>
        @foreach (var group in groups)
        {
            <div class="bordered-rb text-center" style="width: @widthOfGroupColumn%; float:left">
                @group
            </div>
        }
    </div>

    <div class="days-panel" style="width: 3%; float: left">
        <div class="bordered-rb text-center" style="height: 300px;">
            <span>Пн <br><small>21.03</small></span>
        </div>
        <div class="day-separator"></div>
        <div class="bordered-rb text-center" style="height: 300px;">
            <span>Вт <br><small>22.03</small></span>
        </div>
        <div class="day-separator"></div>
        <div class="bordered-rb text-center" style="height: 300px;">
            <span>Ср <br><small>23.03</small></span>
        </div>
        <div class="day-separator"></div>
        <div class="bordered-rb text-center" style="height: 300px;">
            <span>Чт <br><small>24.03</small></span>
        </div>
        <div class="day-separator"></div>
        <div class="bordered-rb text-center" style="height: 300px;">
            <span>Пт <br><small>25.03</small></span>
        </div>
        <div class="day-separator"></div>
        <div class="bordered-rb text-center" style="height: 300px;">
            <span>Сб <br><small>26.03</small></span>
        </div>
    </div>

    <div class="lessons-number-panel" style="width: 3%; float: left">
        @for (int i = 0; i < numberOfDays; i++)
        {
            for (int j = 0; j < numberOfLessons; j++)
            {
                <div class="bordered-rb text-center" style="height: 50px;">
                    <span>@(j + 1)</span>
                </div>
            }
            
            <div class="day-separator"></div>
        }
    </div>

    @for (int i = 0; i < numberOfGroups; i++)
    {
        <div style="width: @widthOfGroupColumn%; float: left">
            @for (int j = 0; j < numberOfDays; j++)
            {
                <div class="bordered-rb" style="height: 50px"></div>
                <div class="bordered-rb" style="height: 50px"></div>
                <div class="bordered-rb" style="height: 50px"></div>
                <div class="bordered-rb" style="height: 50px"></div>
                <div class="bordered-rb" style="height: 50px"></div>
                <div class="bordered-rb" style="height: 50px"></div>
                <div class="day-separator"></div>
            }           
        </div>
    }
</div>
