@model ClassSchedule.Web.Models.SelectFlow.SelectFlowViewModel
@{
    ViewBag.Title = "Выбор потока";
}

@Styles.Render("~/Content/checkbox-x")

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
        <a class="navbar-brand filter" href="@Url.Action("Index", "Home")"></a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="@Url.Action("Index", "Home")">
                    <i class="fa fa-arrow-circle-left fa-32px"></i><br>
                    <span class="nav-icon-text">К расписанию</span>
                </a>
            </li>
        </ul>
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user fa-32px"></i><br>
                            <span class="nav-icon-text"></span>Профиль [@(ViewBag.UserName)] <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "AcademicPlan")"><span class="fa fa-upload"></span> Загрузка учебных планов</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="fa fa-power-off"></span> Выйти</a></li>
                        </ul>
                    </li>
                </ul>
            }
        }
    </div>
</div>

<div class="schedule-container">
    <div class="week-panel text-center"></div>

    <div class="container">
        <h2>Выбор групп для редактирования расписания</h2>
        @*<hr/>*@

        <div class="row inline-block-lg">
            <div class="col-md-4">
                <div class="title">Редактировались ранее</div>
            </div>
            <div class="col-md-8">
                
            </div>
        </div>

        <div class="row inline-block mrgtop24">
            <div class="col-md-4">
                <div class="title">Факультет</div>
            </div>
            <div class="col-md-8">
                <div class="form-group col-md-9">
                    @Html.DropDownListFor(model => model.FacultyId, (SelectList) ViewBag.Faculties, String.Empty, new {@class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FacultyId)
                </div>
            </div>
        </div>

        <div class="row inline-block">
            <div class="col-md-4">
                <div class="title">Форма обучения</div>
            </div>
            <div class="col-md-8">
                <div class="form-group col-md-6">
                    @Html.DropDownListFor(model => model.EducationFormId, (SelectList)ViewBag.EducationForms, String.Empty, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EducationFormId)
                </div>
            </div>
        </div>

        <div class="row inline-block">
            <div class="col-md-4">
                <div class="title">Уровень образования</div>
            </div>
            <div class="col-md-8">
                <div class="form-group col-md-6">
                    @Html.DropDownListFor(model => model.EducationLevelId, (SelectList)ViewBag.EducationLevels, String.Empty, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EducationLevelId)
                </div>
            </div>
        </div>

        <div class="row inline-block">
            <div class="col-md-4">
                <div class="title">Курс</div>
            </div>
            <div class="col-md-8">
                <div class="form-group col-md-3">
                    @Html.DropDownListFor(model => model.FacultyId, (SelectList)ViewBag.Faculties, String.Empty, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.FacultyId)
                </div>
            </div>
        </div>

        <div class="row inline-block">
            <div class="col-md-4">
                <div class="title">Группы</div>
            </div>
            <div class="col-md-8">
                <div class="col-md-3">
                    <div class="col-h2 mrgbtm24">1 поток</div>

                    <div class="mrgbtm24">
                        <input type="checkbox" id="input-20" data-toggle="checkbox-x" value="1" data-three-state="false">
                        <label class="cbx-label" for="input-20">ПИ0904</label>
                    </div>

                    <div class="mrgbtm24">
                        <input type="checkbox" id="input-21" data-toggle="checkbox-x" value="1" data-three-state="false">
                        <label class="cbx-label" for="input-21">ПИ0905</label>
                    </div>

                    <div class="mrgbtm24">
                        <input type="checkbox" id="input-22" data-toggle="checkbox-x" value="1" data-three-state="false">
                        <label class="cbx-label" for="input-22">ПИ0906</label>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="col-h2 mrgbtm24">2 поток</div>

                    <div class="mrgbtm24">
                        <input type="checkbox" id="input-23" data-toggle="checkbox-x" value="1" data-three-state="false">
                        <label class="cbx-label" for="input-23">ИТ0904</label>
                    </div>

                    <div class="mrgbtm24">
                        <input type="checkbox" id="input-24" data-toggle="checkbox-x" value="1" data-three-state="false">
                        <label class="cbx-label" for="input-24">ИТ0904</label>
                    </div>

                    <div class="mrgbtm24">
                        <input type="checkbox" id="input-25" data-toggle="checkbox-x" value="1" data-three-state="false">
                        <label class="cbx-label" for="input-25">ИТ0904</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    @Scripts.Render("~/bundles/checkbox-x")

    <script>
        $(function() {
            
        });
    </script>
}
