@model ClassSchedule.Web.Models.SelectFlow.SelectFlowViewModel
@{
    ViewBag.Title = "Выбор потока";
}

<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"></button>
        <a class="navbar-brand filter" href="@Url.Action("Index", "Home")"></a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li>
                <a href="@Url.Action("Index", "Home")">
                    <i class="fa fa-arrow-circle-left fa-32px"></i><br>
                    <span class="nav-icon-text">К расписанию</span>
                </a>
            </li>
        </ul>
        @if (Request.IsAuthenticated)
        {
            using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
            {
                @Html.AntiForgeryToken()

                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            <i class="fa fa-user fa-32px"></i><br>
                            <span class="nav-icon-text"></span>Профиль [@(ViewBag.UserName)] <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("Index", "AcademicPlan")"><span class="fa fa-upload"></span> Загрузка учебных планов</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="javascript:document.getElementById('logoutForm').submit()"><span class="fa fa-power-off"></span> Выйти</a></li>
                        </ul>
                    </li>
                </ul>
            }
        }
    </div>
</div>

<div class="schedule-container">
    <div class="week-panel text-center"></div>

    <div class="container">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div id="selectFaculty">
                <h2>Выберите факультет</h2>
                <hr/>

                <div class="row">
                    <div id="facultyGroup" class="col-md-7 form-group">
                        @Html.LabelFor(model => model.FacultyId, new {@class = "control-label"})
                        @Html.DropDownListFor(model => model.FacultyId, (SelectList) ViewBag.Faculties, String.Empty, new {@class = "form-control", @id = "facultyId"})
                        @Html.ValidationMessageFor(model => model.FacultyId)
                        <p id="facultyError" class="help-block red" style="display: none;"> <span class="glyphicon glyphicon glyphicon-exclamation-sign form-control-feedback"></span> Выберите факультет из списка
                        </p>
                    </div>
                </div>

                <div class="row mrgtop12">
                    <div class="col-md-12 form-group">
                        <label class="control-label">Расписание будет редактироваться для:</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12 form-group">
                        <label class="radio-inline"><input type="radio" value="1" name="scheduleFor" checked="checked">Потока</label>
                        <label class="radio-inline"><input type="radio" value="2" name="scheduleFor">Курса/Группы</label>
                    </div>
                </div>

                <div class="mrgtop36">
                    <button id="selectFacultyNext" type="button" value="Далее" class="btn btn-primary btn-lg">
                        Далее <span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>
                    </button>
                </div>
            </div>

            <div id="selectCourse" style="display: none;">
                <h2>Выберите курс и/или группу</h2>
                <hr/>

                <div class="row">
                    <div class="col-md-3 form-group">
                        @Html.LabelFor(model => model.CourseId, new {@class = "control-label"})
                        <select id="courseId" name="CourseId" class="form-control"></select>
                        @Html.ValidationMessageFor(model => model.CourseId)
                    </div>

                    <div class="col-md-3 form-group">
                        @Html.LabelFor(model => model.GroupId, new {@class = "control-label"})
                        <select id="groupId" name="GroupId" class="form-control"></select>
                        @Html.ValidationMessageFor(model => model.GroupId)
                    </div>
                </div>

                <div class="btn-group mrgtop36" role="group">
                    <button id="selectCourseBack" type="button" value="Назад" class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-share-alt icon-flipped" aria-hidden="true"></span> Назад
                    </button>
                    <button type="submit" class="btn btn-success btn-lg">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Готово
                    </button>
                </div>
            </div>

            <div id="selectFlow" style="display: none;">
                <h2>Выберите поток</h2>
                <hr/>

                <div class="row">
                    <div class="col-md-3 form-group">
                        @Html.LabelFor(model => model.FlowId, new {@class = "control-label"})
                        <select class="form-control"></select>
                        @Html.ValidationMessageFor(model => model.FlowId)
                    </div>
                    <div class="col-md-3 form-group">
                        @Html.ActionLink("Редактировать потоки", "Index")
                    </div>
                </div>

                <div class="btn-group mrgtop36" role="group">
                    <button id="selectFlowBack" type="button" value="Назад" class="btn btn-default btn-lg">
                        <span class="glyphicon glyphicon-share-alt icon-flipped" aria-hidden="true"></span> Назад
                    </button>
                    <button type="submit" class="btn btn-success btn-lg">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Готово
                    </button>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts
{
    <script>
        $(function() {
            $("#facultyId").change(function() {
                var facultyId = $("#facultyId").val();
                if (facultyId) {
                    $("#facultyGroup").removeClass("has-error");
                    $("#facultyError").hide();
                }
            });

            $("#selectFacultyNext").click(function() {
                // Проверка что факультет выбран
                var facultyId = $("#facultyId").val();
                if (!facultyId) {
                    $("#facultyGroup").addClass("has-error");
                    $("#facultyError").show();

                    return;
                }
                $("#facultyGroup").removeClass("has-error");
                $("#facultyError").hide();

                // Навигация в зависимости от выбранного варианта
                var scheduleFor = $('input[name=scheduleFor]:checked').val();
                if (scheduleFor == '1') { // Расписание для потока
                    $("#selectFaculty").hide("fast", function() {
                        $("#selectFlow").show();
                    });
                } else { // Расписание для курса/группы
                    $("#selectFaculty").hide("fast", function () {
                        loadCourses();
                        loadGroups();
                        $("#selectCourse").show();
                    });
                }
            });

            $("#selectCourseBack").click(function() {
                $("#selectCourse").hide("fast", function() {
                    $("#selectFaculty").show();
                });
            });

            $("#selectFlowBack").click(function() {
                $("#selectFlow").hide("fast", function() {
                    $("#selectFaculty").show();
                });
            });

            $("#courseId").change(function() {
                loadGroups();
            });
        });

        var loadCourses = function () {
            var facultyId = $("#facultyId").val();
            $.post('/Dictionary/Course', { facultyId : facultyId }, function(courses) {
                $("#courseId").html('');
                $("#courseId").append('<option></option>');

                $.each(courses, function (index, course) {
                    var option = "<option value='" + course.CourseId + "'>" + course.CourseName + "</option>";

                    $("#courseId").append(option);
                });
            });
        };

        var loadGroups = function () {
            var facultyId = $("#facultyId").val();
            var courseId = $("#courseId").val();
            $.post('/Dictionary/Group', { facultyId: facultyId, courseId : courseId }, function (groups) {
                $("#groupId").html('');
                $("#groupId").append('<option></option>');

                $.each(groups, function (index, group) {
                    var option = "<option value='" + group.GroupId + "'>" + group.GroupName + "</option>";

                    $("#groupId").append(option);
                });
            });
        };
    </script>
}
