@model ClassSchedule.Web.Models.Report.FillingPercentageViewModel
@{
    ViewBag.Title = "Информация о заполнении расписания";
}

@Html.Partial("_NavbarLight")

<div class="schedule-container">
    <div class="week-panel text-center"></div>

    <div class="container">
        <h2>Информация о заполнении расписания</h2>
        @*<hr/>*@

        <div class="row block">
            <div class="col-md-4">
                <div class="title">Основная информация</div>
            </div>
            <div class="col-md-12">
                <table id="datatable" class="table" style="width: 83.3333333%">
                    <thead>
                        <tr>
                            <th class="block-title small"></th>
                            @*<th class="block-title" rowspan="2" style="width: 33.3333333%">Основная информация</th>*@
                            <th class="table-header" style="width: 25%">1 семестр</th>
                            <th class="table-header" style="width: 25%">2 семестр</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="td-sm">
                                @*<pre class="legend" style="background: #7cb5ec"></pre>*@
                                Общий процент заполнения расписания
                            </td>
                            <td style="width: 25%">87</td>
                            <td style="width: 25%">35</td>
                        </tr>
                        @*<tr>
                            <td class="large">
                                <pre class="legend" style="background: #f7a35c"></pre>
                                Загружено учебных планов
                            </td>
                            <td>11</td>
                            <td>91</td>
                        </tr>*@
                        <tr>
                            <td class="td-sm">
                                @*<pre class="legend" style="background: #90ee7e"></pre>*@
                                Общая эффективность расписания
                            </td>
                            <td style="width: 25%">95</td>
                            <td style="width: 25%">99</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row inline-block">
            <div class="col-md-12">
                <div id="chart" style="width: 100%; height: 350px;"></div>
            </div>
        </div>

        <div class="row block">
            <div class="col-md-12">
                <table class="table disciplines">
                    <thead>
                        <tr>
                            <th class="block-title" rowspan="2">Факультеты</th>
                            <th class="table-header" colspan="2" style="width: 25%">1 семестр</th>
                            <th class="table-header" colspan="2" style="width: 25%">2 семестр</th>
                            <th class="table-header" rowspan="2">Загружено<br/>уч. планов, шт</th>
                        </tr>
                        <tr>
                            <th class="table-header">Заполнено, %</th>
                            <th class="table-header">Эффективность, %</th>
                            <th class="table-header">Заполнено, %</th>
                            <th class="table-header">Эффективность, %</th>

                        </tr>
                    </thead>
                    <tbody>
                        @{
                            var faculties = Model.Faculties
                                .GroupBy(x => new { x.FacultyId, x.FacultyName, x.Uploaded, x.MustBeUploaded })
                                .Select(x => new
                                {
                                    x.Key.FacultyId,
                                    x.Key.FacultyName,
                                    x.Key.Uploaded,
                                    x.Key.MustBeUploaded,
                                    Data = x.OrderBy(y => y.SemesterNumber)
                                        .ToList()
                                });

                            foreach (var faculty in faculties)
                            {
                                <tr>
                                    <td class="td-sm"><span class="name">@faculty.FacultyName</span></td>
                                    @foreach (var data in faculty.Data)
                                    {
                                        if (data.SemesterNumber > 0)
                                        {
                                            <td><span>@data.FilledPercent</span></td>
                                            <td><span>@data.Efficiency</span></td>
                                        }
                                        else
                                        {
                                            <td><span>-</span></td>
                                            <td><span>-</span></td>

                                            <td><span>-</span></td>
                                            <td><span>-</span></td>
                                        }                                        
                                    }
                                    <td><span class="filled">@faculty.Uploaded/</span><span class="plan">@faculty.MustBeUploaded</span></td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/underscore")
    @Scripts.Render("~/bundles/highcharts")
    <script>
        $(function () {
            $('#chart').highcharts({
                credits: {
                    enabled: false
                },
                data: {
                    table: 'datatable'
                },
                chart: {
                    type: 'column'
                },
                title: {
                    text: ''
                },
                yAxis: {
                    allowDecimals: false,
                    title: {
                        text: 'Проценты'
                    }
                },
                tooltip: {
                    formatter: function () {
                        return '<b>' + this.series.name + '</b><br/>' +
                            this.point.y + '% ' + this.point.name.toLowerCase();
                    }
                }
            });
        });
    </script>
}
